:root {
     --blue-page: #00669F;
    --green-page: #1CD1B0;
    --grey-dark-page: #001D2D;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%
}
.banner-descuento {
    background-color: var(--green-page);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
}
.descuento-sup {
    display: none;
}
.banner-principal {
    align-items: center;
    background-color: var(--blue-page);
    color: #ffffff;
    display: flex;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}
.logo {
    height: 4.5rem;
    margin-right: 10px;
    width: 5.5rem;
}
.name-shop {
    align-items: center;
    display: flex;
}
.menu-button {
    height: 35px;
    width: 35px;
}
.descuento-inf {
    text-align: center;
}
nav {
    background-color: var(--grey-dark-page);
}
nav ul {
    display: none;
}
.container-maker {
    align-items: center;
    background-color: #ffffff;
    color: var(--blue-page);
    display: flex;
    flex-direction: column;
}
.title-form {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 8px;
    margin-top: 6px;
}
.subtitle-form {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-bottom: 18px;
}
form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.form-container {
    width: 90%;
}
.left-form {
    display: flex;
    flex-direction: column;
}
.lab {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 6px;
}
.input-container {
  align-items: center;  
  background-color:var(--blue-page);
  border-radius: 8px ;
  display: flex;
  height: 50px;
  margin-bottom: 18px;
}
.inp {
    background-color: var(--blue-page);
    border: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 12px;
    margin-right: 8px;
    height: 85%;
    width: 85%;
}
.cal {
    background-color:var(--blue-page);
    color: #ffffff;
}
input::placeholder {
    background-color: var(--blue-page);
    color: #ffffff;  
}
input:focus {
    background-color: var(--blue-page);
    color: #ffffff;
}
.right-form {
    display: flex;
    flex-direction: column;
}
.text-box {
    background-color: var(--blue-page);
    border-radius: 8px;
    margin-bottom: 18px;
    padding: 8px;
}
textarea {
    background-color: var(--blue-page);
    color: #ffffff;
    border: none;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    width:100%;
}
textarea::placeholder {
    color:#ffffff;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.under {
    height: 18px;
    width: 20px;
}
.under-black {
    display: none;
}
.up-img {
    margin-bottom: 18px;
}
fieldset {
    border: none ;
    display: flex;
    flex-direction: column;
}
.line {
    border-top: 1px solid var(--blue-page);
    margin-bottom: 16px;
    margin-top: 16px;
    width: 80%;
}
.multi-option {
    align-items: center;
    display: flex;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 4px;
    width: 90%;
}
legend {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}
.check-style {
    appearance: none;
    background-color:#ffffff;
    border: 2px solid var(--blue-page);
    height: 18px;
    margin-right: 6px;
    width: 18px; 
}
.check-style:checked {
    background-color: var(--blue-page);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    transition: background-color 0.3s ease-in-out;
  }
  .radio-style {
    appearance: none;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid var(--blue-page);
    height: 18px;
    margin-right: 6px;
    width: 18px; 
}
.radio-style:checked {
    background-color:var(--blue-page);
    transition: background-color 0.3s ease-in-out;
}
button {
    border: none;
    border-radius: 10px;
    background-color: var(--green-page);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    height: 40px;
    margin-top: 14px;
    margin-bottom: 18px;
    width: 60%;
}
/* button:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    cursor: pointer;
    } */

footer {
    align-items: center;
    background-color: var(--blue-page);
    color:#ffffff;
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 30px;
    justify-content: center;
    width: 100%;
}